.Main {
  font-family: Barlow;
  background-color: #f7e7dc;
}

.Nav {
  width: 1440px;
  height: 64px;
  background-color: #405d72;
  color: #fff;
}

.Nav a {
  color: #fff;
  text-decoration: none;
}

.Nav a:visited {
  color: #fff;
}

.Nav ul {
  list-style-type: none;
}

.Nav li {
  display: inline-block;
  padding: 20px;
}

.Home {
  height: 1000px;
  width: max-content;
  margin: auto;
}

.Featured {
  width: 1673px;
  height: 491px;
  background-color: #fff8f3;
}

.Featured h2 {
  padding: 20px;
  font-weight: 500;
}

#logo {
  height: 300px;
  width: 300px;
}

.Header {
  text-align: center;
}

.Footer {
  width: 1476px;
  height: 58px;
  background-color: #405d72;
}

.Products {
  padding: 20px;
}

.Products a {
  color: #405d72;
  text-decoration: underline;
}

.ProductDetails {
  padding: 20px;
}

.Cart {
  margin: 20px;
  padding: 40px;
}

#proceedButton {
  margin-top: 20px;
}

#Form1 {
  text-align: center;
}

#Form1 input {
  width: 300px;
}

.Checkout {
  text-align: center;
}
