/* Main body of site */
.Main {
  font-family: Barlow;
  background-color: #f7e7dc;
}

/* Navigation Bar */
.Nav {
  width: 100%;
  height: 64px;
  background-color: #405d72;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.Nav a {
  color: #fff;
  text-decoration: none;
}

.Nav a:visited {
  color: #fff;
}

.Nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
}

.Nav li {
  margin-right: 40px;
  margin-left: 10px;
}
.Nav li:last-child {
  margin-left: auto;
}

nav {
  width: 100%;
}

#cartIcon {
  margin-left: 10px;
  height: 20px;
}

#cartNav {
  margin-right: 60px;
}

/*Homepage */
.Home {
  height: 600px;
  width: 100%;
  margin: auto;
}

.Featured {
  width: 100%;
  height: auto;
  background-color: #fff8f3;
  display: flex;
  flex-direction: column;
}

.Featured h2 {
  padding: 20px;
  font-weight: 500;
}

.BookBoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.BookBox {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  width: 200px;
}

#logo {
  height: 300px;
  width: 300px;
}

/*Header Component */
.Header {
  text-align: center;
  width: 100%;
  height: 300px;
}

/*Footer Component */
.Footer {
  width: 100%;
  height: 58px;
  background-color: #405d72;
}

.SocialMedia img {
  padding: 10px;
}

/*Product Listing Page */
.Products {
  padding: 20px;
}

.Products a {
  color: #405d72;
  text-decoration: underline;
}

.ProductDetails {
  padding: 20px;
}

/*Cart Page */
.Cart {
  margin: 20px;
  padding: 40px;
}

#proceedButton {
  margin-top: 20px;
}

/*Checkout Page */
#Form1 {
  text-align: center;
}

#Form1 input {
  width: 300px;
}

.Checkout {
  text-align: center;
}

/* Contact Page */
.ContactPage {
  height: 900px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContactDetails {
  width: 100%;
  background-color: #fff8f3;
  padding: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.ContactDetails h2,
h4 {
  font-weight: 500;
}

#Address {
  font-size: 20px;
}

#StorePicture {
  height: 400px;
}

.PicContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: auto;
}

.ContactText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
}

/*Confirmation Page */
.ConfirmationContainer {
  height: 500px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ConfirmationText {
  width: 100%;
  height: auto;
  background-color: #fff8f3;
  padding: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ConfirmationText h2 {
  font-weight: 500;
}
