/* Main body of site */
.Main {
  font-family: Barlow;
  background-color: #f7e7dc;
}

/* Navigation Bar */
.Nav {
  width: 100%;
  height: 64px;
  background-color: #405d72;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.Nav a {
  color: #fff;
  text-decoration: none;
}

.Nav a:visited {
  color: #fff;
}

.Nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
}

.Nav li {
  margin-right: 40px;
  margin-left: 10px;
}
.Nav li:last-child {
  margin-left: auto;
}

nav {
  width: 100%;
}

#cartIcon {
  margin-left: 10px;
  height: 20px;
}

#cartNav {
  margin-right: 60px;
}

/*Homepage */
.Home {
  height: 700px;
  width: 100%;
  margin: auto;
}

.Featured {
  width: 100%;
  height: auto;
  background-color: #fff8f3;
  display: flex;
  flex-direction: column;
}

.Featured h2 {
  padding: 20px;
  font-weight: 500;
}

.BookBoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.BookBox {
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
  width: 200px;
}

.BookBox h3 {
  margin-top: 20px;
  text-align: center;
}

.BookBox p {
  text-align: center;
  margin-top: 0;
}

#logo {
  height: 300px;
  width: 300px;
}

/*Header Component */
.Header {
  text-align: center;
  width: 100%;
  height: 300px;
}

/*Footer Component */
.Footer {
  width: 100%;
  height: 58px;
  background-color: #405d72;
}

.SocialMedia img {
  padding: 10px;
}

/* Product listing */

.product-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 420px;
  background: #fff8f3;
}

.ProductDetails h2 {
  font-weight: 500;
  padding: 20px;
}

.ProductDetails {
  width: 100%;
  background: #fff8f3;
  display: flex;
  margin-bottom: 100px;
}

.ProductBox {
  width: 833px;
  height: 250px;
  background: #fff8f3;
  border: 1px solid #405d72;
  padding: 20px;
  margin-left: 20px;
}

.ProductDetails img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

/* List Page */

.search-bar {
  width: 20%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 10px;
  width: 300px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff8f3;
  font-family: Barlow;
}

.list-container li {
  list-style-type: none;
  padding: 30px;
  margin: 10px;
}

.list-container h2 {
  align-self: flex-start;
}

.list-container a {
  font-family: "Barlow", sans-serif;
  color: black;
  text-decoration: none;
}

.list-container a:hover {
  text-decoration: underline;
}

.list-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.item-box {
  padding: 15px;
  text-align: center;
}

/*Cart Page */
.Cart {
  margin: 20px;
  padding: 40px;
}

#proceedButton {
  margin-top: 20px;
}

.cart-container {
  width: 100%;
  min-height: 510px;
  background: #fff8f3;
  padding: 20px;
  margin-bottom: 100px;
  text-align: center;
}

.cart-header {
  padding: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: left;
}

.h2-two {
  padding: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}

.cart-box {
  width: 75%;
  background: #fff8f3;
  border: 1px #405d72 solid;
  margin: 0 auto;
  box-sizing: border-box;
}

.cart-summary {
  margin-bottom: 20px;
  text-align: center;
}

.line {
  border: 0;
  border-top: 1px solid #405d72;
  margin: 10px 0;
}

.summary-info {
  display: inline-block;
  text-align: center;
  margin: 10px 0;
}

/* Checkout Page */

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.cart-container {
  width: 100%;
  min-height: 510px;
  background: #fff8f3;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.cart-header {
  padding: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: left;
}

.cart-box {
  width: 75%;
  background: #fff8f3;
  border: 1px #405d72 solid;
  margin: 0 auto;
  box-sizing: border-box;
}

.Cart {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartBook {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cart-summary {
  margin: 20px 0;
  text-align: center;
}

.line {
  border: 0;
  border-top: 1px solid #405d72;
  margin: 10px 0;
}

.summary-info {
  display: inline-block;
  text-align: center;
  margin: 10px 0;
}

#Form1 {
  text-align: center;
}

#Form1 input {
  width: 300px;
}

.Checkout {
  text-align: center;
}

#proceedButton {
  margin-top: 20px;
}

/* Contact Page */
.ContactPage {
  height: 900px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContactDetails {
  width: 100%;
  background-color: #fff8f3;
  padding: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.ContactDetails h2,
h4 {
  font-weight: 500;
}

#Address {
  font-size: 20px;
}

#StorePicture {
  height: 400px;
}

.PicContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: auto;
}

.ContactText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
}

/*Confirmation Page */
.ConfirmationContainer {
  height: 500px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ConfirmationText {
  width: 100%;
  height: auto;
  background-color: #fff8f3;
  padding: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ConfirmationText h2 {
  font-weight: 500;
}
